{% extends "basepage.html" %}



{% block listing %}

        <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Ajouter un cours</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<form method="GET" action="../sauvegarder/" id="bind">
                            <table>
                                <tr>
                                    <td>
                           <label>Code cours :</label>
                                    </td>
                                    <td>
                           <select name="idcours" required="">
                               <option> </option>
                               {% for ecole in idcours %}
                            <option value="{{ecole.id}}">{{ecole.codecours}}</option>
                               {%endfor%}
                            </select>
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                           <label>Etablissement :</label>
                                    </td>
                                    <td>
                           <select name="etablissement" required="">
                               <option> </option>
                               {% for ecole in etab %}
                            <option value="{{ecole.id}}">{{ecole.nom}}</option>
                               {%endfor%}
                            </select>
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                           <label>Professeur :</label>
                                    </td>
                                    <td>
                           <select name="professeur" required="">
                               <option> </option>
                               {% for ecole in prof %}
                            <option value="{{ecole.id}}">{{ecole.prenom}} {{ecole.nom}}</option>
                               {%endfor%}
                            </select>
                                        </td>
                                    <td>

                                    </td>
                                </tr>

                                 <tr>
                                     <td>
                           <label>Titre :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="titre" required="">
                                         </td>
                                <td>

                                </tr>
                                <tr>
                                     <td>
                           <label>Credit ECTS :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="creditECTS" required="">
                                         </td>
                                <td>

                                </tr>
                                <tr>
                                     <td>
                           <label>Public cible :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="public" required="">
                                         </td>
                                <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Pre-requis :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="prerequis" required="">
                                         </td>
                                <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Objectif :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="objectif" required="">
                                         </td>
                                <td>

                                </tr>

                                     <tr>
                                     <td>
                           <label>Description du cours :</label>
                                        </td>
                                     <td >
                                         <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="description" required=""></textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'description', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                    <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Plan du cours :</label>
                                        </td>
                                     <td >
                                         <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="plan" required=""></textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'plan', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                    <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Format Cours:</label>
                                        </td>
                                     <td >
                                         <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="formatcours" required=""></textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'formatcours', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                    <td>

                                </tr>
                                 <tr>
                                     <td>
                           <label>Ressources :</label>
                                        </td>
                                     <td >
                                         <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="ressources" required=""></textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'ressources', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                    <td>

                                </tr>
                                 <tr>
                                     <td>
                           <label>Evaluation :</label>
                                        </td>
                                     <td >
                                         <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="evaluation" required="">{{cv.formation}}</textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'evaluation', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                    <td>

                                </tr>


                                     <tr>

                                <td>

                                    </td>
                                <td style="padding-left:145px">
                                    <input type="submit" value="Ajouter">
                                    <a class="submit" href="{% url 'Admin.gestionIdcours.views.index' %}" >Annuler</a>
                                </td>

                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{message}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                     </table>
                        </form>


					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>
{% endblock %}
