{% extends "basepage.html" %}

{%block log%}{{username}}{%endblock%}

{% block listing %}

        <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Modifier un cours</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

                            <table>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{message}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                     </table>


					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>
{% endblock %}
