{% extends "basepage.html" %}

{%block log%}{{username}}{%endblock%}

{% block listing %}

        <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Supprimer un cours</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<form method="GET" action="../sauvegarder/{{etab.id}}/" id="bind">
                            <table>
                                <tr>
                                    <td>
                           <label>Code cours :</label>
                                    </td>
                                    <td>
                           <input name="idcours" type = "text" value="{{etab.idcours.codecours}}" readonly/>
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                           <label>Etablissement :</label>
                                    </td>
                                    <td>
                               <input name="etablissement" type="text" value="{{etab.etablissement.nom}}" />
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                           <label>Professeur :</label>
                                    </td>
                                    <td>
                               <input type="text" value="{{etab.professeur.prenom}} {{etab.professeur.nom}}"/>
                                        </td>
                                    <td>

                                    </td>
                                </tr>

                                 <tr>
                                     <td>
                           <label>Titre :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="titre" id="titre" value="{{etab.titre}}" required="">
                                         </td>
                                <td>

                                </tr>
                                <tr>
                                     <td>
                           <label>Credit ECTS :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="creditECTS"  value="{{etab.creditECTS}}" required="">
                                         </td>
                                <td>

                                </tr>
                                <tr>
                                     <td>
                           <label>Public cible :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="public" value="{{etab.public}}" required="">
                                         </td>
                                <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Pre-requis :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="prerequis" value="{{etab.prerequis}}" >
                                         </td>
                                <td>

                                </tr>

                                     <tr>

                                <td>

                                    </td>
                                <td style="padding-left:145px">
                                    <input type="submit" value="Supprimer">
                                    <a class="submit" href="{% url 'Admin.gestionIdcours.views.index' %}" >Annuler</a>
                                </td>

                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{message}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                     </table>
                        </form>


					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>
{% endblock %}
