<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    
    <title>Dashboard ESIH</title>
    <a href='{% url "gestionEtablissement.views.index"  %}' >Home ESIH</a>

</head>
<body>

            <ul id="tabs">
				<li><a href='{% url "gestionEtablissement.views.index"  %}'>Etablissement</a></li>
				<li><a href='{% url "gestionProgramme.views.index"  %}'>Programme</a></li>
				<li><a href='#'  class="active dashboard">Ecrire</a></li>
			</ul>

{% block content %} {% endblock %}

{% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
{% endblock %}
</body>
</html>