{% extends "basepage.html" %}

{%block log%}{{username}}{%endblock%}

{% block listing %}

        <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Ajouter un CV</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<form method="GET" action="/esih/gestion_professeur/saveCV/{{etab.id}}/" id="bind">
                            <table>
                                <tr>
                                    <td>
                           <label>Nom :</label>
                                    </td>
                                    <td>
                           <input type="text" name="nom" value="{{etab.nom}}" required="">
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                           <label>Prenom :</label>
                                    </td>
                                    <td>
                          <input type="text" name="prenom" value="{{etab.prenom}}" required="">
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                           <label>Sexe :</label>
                                    </td>
                                    <td>
                           <input type="text" name="sexe" value="{{etab.sexe}}" required="">
                                        </td>
                                    <td>

                                    </td>
                                </tr>

                                 <tr>
                                     <td>
                           <label>CIN :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="cin" value="{{etab.cin}}" required="">
                                         </td>
                                <td>

                                </tr>
                                <tr>
                                     <td>
                           <label>Telephone :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="telephone" value="{{etab.telephone}}" required="">
                                         </td>
                                <td>

                                </tr>
                                <tr>
                                     <td>
                           <label>E-mail :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="email" value="{{etab.email}}" required="">
                                         </td>
                                <td>

                                </tr>
                                <tr>
                                     <td>
                           <label>Formations suivies :</label>
                                        </td>
                                     <td >
                                         <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="formation" required="">{{cv.formation}}</textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'formation', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                    <td>

                                </tr>


                                     <tr>
                                     <td>
                           <label>Etudes :</label>
                                        </td>
                                     <td>
                                        <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="etude" required="">{{cv.etude}}</textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'etude', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Experiences :</label>
                                        </td>
                                     <td>
                                        <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="experience" required="">{{cv.experience}}</textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'experience', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });

			                                </script>
                                         </td>
                                <td>

                                </tr>


                                 <tr>
                                     <td>
                           <label>Langues :</label>
                                        </td>
                                     <td>
                                        <div >

				                         <div class="module">

					                     <div class="module-heading cf">
						                    <span class="fr expand-collapse-text initial-expand">CLICKER POUR CACHER</span>
						                    <span class="fr expand-collapse-text ">CLICKER POUR AFFICHER</span>

					                    </div> <!-- end content-module-heading -->


					<div class="module-main cf">

						<textarea type="text" name="langue" required="">{{cv.langue}}</textarea>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->

			</div>
                                         <script type="text/javascript">
                                         CKEDITOR.replace( 'langue', {
				                                        uiColor: '#A9A9A9',
				                                        height:360,
				                                        toolbar: [
					                                    [ 'Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-' ],
					                                    [ 'FontSize','Font','Smiley', 'TextColor', 'BGColor'],['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
				                                        ]
			                                });
			                                </script>
                                         </td>
                                <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>References :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="reference" value="{{cv.reference}}" required="">
                                         </td>
                                <td>

                                </tr>

                                     <tr>

                                <td>

                                    </td>
                                <td style="padding-left:145px">
                                    <input type="submit" value="Ajouter">
                                    <a class="submit" href="{% url 'Admin.gestionProfesseur.views.index' %}" >Annuler</a>
                                </td>

                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{message}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                     </table>
                        </form>


					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>
{% endblock %}
