{% extends "basepage.html" %}

{%block log%}{{username}}{%endblock%}

{% block listing %}

        <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Ajouter un code cours</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<form method="GET" action="../sauvegarder/" id="bind">
                            <table>
                                <tr>
                                    <td>
                           <label>Programme :</label>
                                    </td>
                                    <td>
                           <select name="programme" required="" onchange="setAnnee(this.value)">
                               <option> </option>
                               {% for ecole in programme %}
                            <option value="{{ecole.specialite}}">{{ecole.codeprogramme}}</option>
                               {%endfor%}
                               <script>
                                            function setAnnee(value) {
                                                var select=document.getElementById('annee');
                                                if (value == 'BDD' || value == 'TEL'){
                                                    select.innerHTML = "";
                                                    select.add(new Option('',''),length);
                                                    select.add(new Option('M1 - Master 1','M1'),length);
                                                    select.add(new Option('M2 - Master 2','M2'),length);
                                                }
                                                else if(value == 'ONE'){
                                                    select.innerHTML = "";
                                                    select.add(new Option('',''),length);
                                                    select.add(new Option('M2 - Master 2','M2'),length);
                                                }
                                                else if(value == 'NOSP'){
                                                    select.innerHTML = "";
                                                    select.add(new Option('',''),length);
                                                    select.add(new Option('PROP - Propeudeutique','PROP'),length);
                                                    select.add(new Option('L1 - Licence 1','L1'),length);
                                                    select.add(new Option('L2 - Licence 2','L2'),length);
                                                    select.add(new Option('L3 - Licence 3','L3'),length);
                                                }
                                                else if (value == 'SDE' || value == 'SC'){
                                                    select.innerHTML = "";
                                                    select.add(new Option('',''),length);
                                                    select.add(new Option('L1 - Licence 1','L1'),length);
                                                    select.add(new Option('L2 - Licence 2','L2'),length);
                                                    select.add(new Option('L3 - Licence 3','L3'),length);
                                                    select.add(new Option('M1 - Master 1','M1'),length);
                                                }
                                                else{
                                                    select.innerHTML = "";
                                                    select.add(new Option('',''),length);
                                                    select.add(new Option('PROP - Propeudeutique','PROP'),length);
                                                    select.add(new Option('L1 - Licence 1','L1'),length);
                                                    select.add(new Option('L2 - Licence 2','L2'),length);
                                                    select.add(new Option('L3 - Licence 3','L3'),length);
                                                    select.add(new Option('M1 - Master 1','M1'),length);
                                                }

                                            }
                                        </script>
                            </select>
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                           <label>Etablissement :</label>
                                    </td>
                                    <td>
                           <select name="etablissement" required="">
                               <option> </option>
                               {% for ecole in etab %}
                            <option value="{{ecole.nom}}">{{ecole.nom}}</option>
                               {%endfor%}
                            </select>
                                        </td>
                                    <td>

                                    </td>
                                </tr>
                                 <tr>
                                     <td>
                           <label>Annee :</label>
                                        </td>
                                     <td>
                                        <select name="annee" id="annee" required="">
                                            <option> </option>
                                        </select>
                                         </td>
                                <td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Semestre :</label>
                                        </td>
                                     <td>
                                        <select name="semestre" required="">
                                            <option> </option>
                                        <option value="S1">S1 - Semestre 1</option>
                                        <option value="S2">S2 - Semestre 2</option>
                                        <option value="S2">Y - Annee</option>
                                        </select>
                                         </td>
                                <td>

                                </tr>

                                <tr>
                                     <td>
                                    <label>Nom cours :</label>
                                        </td>
                                     <td>
                                        <input type="text" name="nomcours" required="">
                                        </select>
                                         </td>
                                <td>

                                </tr>
                                </tr>
                                     <tr>

                                <td>

                                    </td>
                                <td style="padding-left:145px">
                                    <input type="submit" value="Ajouter">
                                    <a class="submit" href="{% url 'Admin.gestionIdcours.views.index' %}" >Annuler</a>
                                </td>

                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{message}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                     </table>
                        </form>


					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>
{% endblock %}
