{% extends "basepage.html" %}

        {%block log%}{{username}}{%endblock%}

{% block listing %}

         <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Creer un compte</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<form method="post" action="../createAccount/sauvegarder/" id="bind">
                            <table>

                                 <tr>
                                    <td>
                           <label>Professeur :</label>
                                    </td>
                                    <td>
                           <select name="idprof" required="">
                               <option> </option>
                               {% for school in prof %}
                            <option value="{{school.id}}">{{school.prenom}} {{school.nom}}</option>
                               {%endfor%}
                            </select>
                                        </td>
                                    <td>

                                    </td>
                                </tr>

                                 <tr>
                                     <td>
                           <label>Username :</label>
                                        </td>
                                     <td>
                           <input name="username" type="text" placeholder="prenom.nom" required="Champ vide">
                                         </td>
                                <td>

                                </td>
                                </tr>
                                 <tr>
                                     <td>
                           <label>password :</label>
                                        </td>
                                     <td>
                           <input name="password" type="password" required="Champ vide">
                                         </td>
                                <td>

                                </td>
                                </tr>

                                 <tr>
                                     <td>
                           <label>Type account :</label>
                                        </td>
                                     <td>
                           <select name="type" required="">
                               <option> </option>
                            <option value="Administrateur">Administrateur</option>
                            <option value="Professeur">Professeur</option>
                            </select>
                                         </td>
                                <td>

                                </td>
                                </tr>
                                     <tr>

                                <td>

                                    </td>
                                <td style="padding-left:245px">
                                    <input type="submit" value="Create">
                                </td>

                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{message}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                     </table>
                        </form>


					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>

{% endblock %}