{% extends "basepage.html" %}

{% block log%}{{username}}{%endblock%}

{% block listing %}

    <script>
			$(function ()
				{
   $("#chartContainer").dxChart({
    dataSource: [
        {annee: "DUT1", value: 7},
        {annee: "DUT2", value: 2},
        {annee: "PROP", value: 2},
        {annee: "L1", value: 3},
        {annee: "L2", value: 4},
        {annee: "L3", value: 6},
        {annee: "M1", value: 11},
        {annee: "M2", value: 4} ],

    series: {
        argumentField: "annee",
        valueField: "value",
        name: "Diagramme",
        type: "bar",
        color: '#3f4551'
    }
});
}
  );
		</script>
        <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Diagramme</h3>

					</div> <!-- end content-module-heading -->

                    <div id="selection">
                    <form name="form" action="" method="post">
										<label for="table-select-actions"> Choix :</label>

										<select name="cours" id="table-select-actions" onchange="document.getElementsByName('form')[0].submit();">
                                            <option></option>
											<option value="{{creditECTS}}">Credit ECTS</option>
                                            <option value="{{horaire}}">Volume Horaire</option>
										</select>
                              </form>
                       </div>


					<div class="content-module-main">
                <div id="chartContainer" style="width: 70%; height: 300px;"></div>
                </div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>
{% endblock %}
