{% extends "basepage.html" %}


        {% block listing %}

        <div class="side-content fr">

				<div class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Ajouter un programme</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<form method="GET" action="../sauvegarder/" id="bind">
                            <table>
                                <tr>
                                    <td>
                           <label>Domaine :</label>
                                    </td>
                                    <td>
                           <select name="domaine" required="" onchange="SetMention(this.value)">
                               <option> </option>
                            <option value="ST">ST - Sciences et Technologies</option>
                            <option value="E&G">E&G - Economie et Gestion</option>
                               <script>
                                function SetMention(value) {
                                    var select=document.getElementById('mention');
                                    if (value == 'ST'){
                                        select.innerHTML = "";
                                        select.add(new Option('',''),length);
                                        select.add(new Option('SI - Science informatique','SI'),length);
                                    }
                                    if (value == "E&G"){
                                        select.innerHTML = "";
                                        select.add(new Option('',''),length);
                                        select.add(new Option('E&G - Economie et Gestion','E&G'),length);
                                    }

                                }
                            </script>
                            </select>
                                        </td>
                               <tr>
                                    <td>
                                        <label>Mention :</label>

                                    </td>
                                <td>
                                    <select name="mention" id="mention" required="" onchange="setspecialite(this.value)">
                                        <option> </option>
                                        <script>
                                            function setspecialite(value) {
                                                var select=document.getElementById('speciality');
                                                if (value == 'SI'){
                                                    select.innerHTML = "";
                                                    select.add(new Option('',''),length);
                                                    select.add(new Option('TEL - Telecommunications','TEL'),length);
                                                    select.add(new Option('BDD - Bases de Donnees','BDD'),length);
                                                    select.add(new Option('NOSP - Pas de specialite','NOSP'),length);
                                                }
                                                if (value == "E&G"){
                                                    select.innerHTML = "";
                                                    select.add(new Option('',''),length);
                                                    select.add(new Option('ONE - Organisations de Net Economie','ONE'),length);
                                                    select.add(new Option('SDE - Sciences de l\'Entreprise','SDE'),length);
                                                    select.add(new Option('SC - Sciences Comptables','SC'),length);
                                                    select.add(new Option('NOSP - Pas de specialite','NOSP'),length);
                                                }

                                            }
                                        </script>
                                    </select>
                                </td>
                               </tr>

                                <tr>
                                    <td>
                                        <label>Specialite :</label>
                                    </td>
                                    <td>
                                        <select name="specialite" id="speciality" required="">
                                            <option> </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Type cours :</label>
                                        </td>
                                    <td>
                                    <select name="typecours" required="">
                                        <option> </option>
                                    <option value="O">O - Obligatoire</option>
                                    <option value="OP">OP - Optionnel</option>
                                    </select>
                                        </td>
                                    </tr>
                                    <tr>
                                    <td>
                                    <label>Langue :</label>
                                        </td>
                                    <td>
                                    <select name="langue" required="">
                                        <option> </option>
                                    <option value="AN">AN - Anglais</option>
                                    <option value="FR">FR - Francais</option>
                                    </select>
                                    </td>
                                        </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td style="padding-left:208px; padding-top=50px;">
                                    <input type="submit" value="Ajouter">
                                </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        {{message}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                     </table>
                        </form>


					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>
{% endblock %}

{% block content %}
<form method="GET" action="../sauvegarder/">
<legend><h2>Programme</h2></legend>

    <br />

    <br />

    <br />
    <br />

    {{message}}
</form>
{% endblock %}
