{% extends "basepage.html" %}


{% block listing %}

        <div class="side-content fr">
 <input type="button" class="submit" value="Imprimer" onclick="PrintElem('#etab')" />
				<div id="etab" class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Liste des etablissements</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<table>

							<thead>

								<tr>
									<th>Id</th>
									<th>Nom</th>
									<th>Adresse</th>
									<th>Date d'ajout</th>
									<th>Actions</th>
								</tr>

							</thead>

							<tfoot>

								<tr>

									<td colspan="5" class="table-footer">

										<label for="table-select-actions">With selected:</label>

										<select id="table-select-actions">
											<option value="option1">Delete</option>
											<option value="option2">Export</option>
											<option value="option3">Archive</option>
										</select>

										<a href="#" class="round button blue text-upper small-button">Apply to selected</a>

									</td>

								</tr>

							</tfoot>

							<tbody>
                                {% for ecole in school %}
								<tr>
									<td>{{ecole.id}}</td>
                                    <td>{{ecole.nom}}</td>
                                    <td>{{ecole.lieu}}</td>
                                    <td>{{ecole.date}}</td>
									<td>
										<a href="../gestion_etablissement/modifier/{{ecole.id}}" class="table-actions-button ic-table-edit" title="Editer"></a>
										<a href="../gestion_etablissement/suppression/{{ecole.id}}" class="table-actions-button ic-table-delete" title="Effacer"></a>
									</td>
								</tr>
                                {% endfor %}

							</tbody>

						</table>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>

    {% endblock %}