{% extends "profpage.html" %}

        {%block log%}{{username}}{%endblock%}

{% block listing %}

        <div  class="side-content fr">

            <input type="button" class="submit" value="Imprimer" onclick="PrintElem('#cv')" />

				<div id="cv" class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">CV de {{prof.prenom}} {{prof.nom}}</h3>

					</div> <!-- end content-module-heading -->

                    {% if find == False %}
					<div class="content-module-main">


                    <center>Prof. {{prof.prenom}} {{prof.nom}} vous n'avez pas remplit votre CV.</center>
					</div> <!-- end content-module-main -->
                    {%else%}
                    <div class="content-module-main">


             <!---- Informations personnelles ------>
                        <div class="module-heading cf">

						<h3 class="fl">Infomations personnelles</h3>

					    </div>
                           <hr />
                        <div class="content-module-main">

                            <table class="bind">
                                <tr>
                                    <td>
                           <label>Nom :</label>
                                    </td>
                                    <td>
                           <label name="nom" type="text" value="{{cv.nom}}">{{cv.nom}}</label>
                                        </td>
                                     <td>
                           <label>CIN :</label>
                                        </td>
                                     <td>
                           <label name="cin" type="text" value="{{cv.cin}}" >{{cv.cin}}</label>
                                         </td>
                                    <td>

                                    </td>
                                </tr>
                                 <tr>
                                     <td>
                           <label>Prenom :</label>
                                        </td>
                                     <td>
                           <label name="prenom" type="text" value="{{cv.prenom}}">{{cv.prenom}}</label>
                                         </td>
                                     <td>
                           <label>Telephone :</label>
                                        </td>
                                     <td>
                           <label name="telephone" type="text" value="{{cv.telephone}}">{{cv.telephone}}</label>
                                         </td>
                                <td>

                                </td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Sexe :</label>
                                        </td>
                                     <td>
                           <label name="sexe" type="text" value="{{cv.sexe}}">{{cv.sexe}}</label>
                                         </td>
                                    <td>
                           <label>E-mail :</label>
                                        </td>
                                     <td>
                           <label name="email" type="text" value="{{cv.email}}">{{cv.email}}</label>
                                         </td>
                                <td>

                                </td>
                                </tr>

                     </table>

                         </div>

                    <!---- Experience professionnelle ----->


                        <div class="module-heading cf">

						<h3 class="fl">Experience professionelle</h3>

					    </div>
                        <hr />

                        <div class="content-module-main">
                        <div class="info">
                        {% autoescape off %}{{cv.experience}}{% endautoescape%}
                            </div>

                         </div>

                   <!--- Education et formation --->

                        <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Formation</h3>

                            </div>

					    </div>

                        <hr />
                        <div class="content-module-main">
                                <div class="info">
                            {% autoescape off %}{{cv.formation}}{% endautoescape%}
                                </div>
                         </div>

                        <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Education</h3>

                            </div>

					    </div>
                            <hr />
                        <div class="content-module-main">
                                <div class="info">
                            {% autoescape off %}{{cv.etude}}{% endautoescape%}
                                </div>
                         </div>

                    <!--- Competences personnelles --->

                    <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Competences personnelles</h3>

                                </div>
					    </div>
                        <hr />

                        <div class="content-module-main">
                            {% autoescape off %}{{cv.competence}}{% endautoescape%}

                         </div>

					</div>
                    {%endif%}

				</div> <!-- end content-module -->
            </div>

    {% endblock %}