{% extends "profpage.html" %}

        {%block log%}{{username}}{%endblock%}

{% block listing %}

        <div  class="side-content fr">

				<div id="cv" class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Details</h3>

					</div> <!-- end content-module-heading -->

                    {% if find == False %}
					<div class="content-module-main">


                    <center>Le professeur {{prof.prenom}} {{prof.nom}} n'a pas de CV.</center>
					</div> <!-- end content-module-main -->
                    {%else%}
                    <div class="content-module-main">


             <!---- Informations personnelles ------>
                        <div class="module-heading cf">

						<h3 class="fl">Le cours de {{school.titre}}</h3>

					    </div>
                           <hr />
                        <div class="content-module-main">

                            <table class="bind">
                                <tr>
                                    <td>
                           <label>Titre : </label>
                                    </td>
                                    <td>
                           <label name="nom" type="text" value="{{cv.nom}}">{{school.titre}}</label>
                                        </td>
                                     <td>
                           <label>Professeur : </label>
                                        </td>
                                     <td>
                           <label name="cin" type="text" value="{{cv.cin}}" >{{school.professeur.prenom}} {{school.professeur.nom}}</label>
                                         </td>
                                    <td>

                                    </td>
                                </tr>
                                 <tr>
                                     <td>
                           <label>Etablissement : </label>
                                        </td>
                                     <td>
                           <label name="prenom" type="text" value="{{cv.prenom}}">{{school.etablissement.nom}}</label>
                                         </td>
                                     <td>
                           <label>Credit ECTS : </label>
                                        </td>
                                     <td>
                           <label name="telephone" type="text" value="{{cv.telephone}}">{{school.creditECTS}}</label>
                                         </td>
                                <td>

                                </td>

                                </tr>

                                <tr>
                                     <td>
                           <label>Code du cours : </label>
                                        </td>
                                     <td>
                           <label name="sexe" type="text" value="{{cv.sexe}}">{{school.idcours.codecours}}</label>
                                         </td>
                                    <td>
                           <label>Public cible :</label>
                                        </td>
                                     <td>
                           <label name="email" type="text" value="{{cv.email}}">{{school.public}}</label>
                                         </td>
                                <td>

                                </td>
                                </tr>

                     </table>

                         </div>

                    <!---- Experience professionnelle ----->


                        <div class="module-heading cf">

						<h3 class="fl">Objectif</h3>

					    </div>
                        <hr />

                        <div class="content-module-main">
                        <div class="info">
                        {% autoescape off %}{{school.objectif}}{% endautoescape%}
                            </div>

                         </div>

                   <!--- Education et formation --->

                        <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Pre-requis</h3>

                            </div>

					    </div>

                        <hr />
                        <div class="content-module-main">
                                <div class="info">
                            {% autoescape off %}{{school.prerequis}}{% endautoescape%}
                                </div>
                         </div>

                        <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Description</h3>

                            </div>

					    </div>
                            <hr />
                        <div class="content-module-main">
                                <div class="info">
                            {% autoescape off %}{{school.description}}{% endautoescape%}
                                </div>
                         </div>

                    <!--- Competences personnelles --->

                    <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Plan du cours</h3>

                                </div>
					    </div>
                        <hr />

                        <div class="content-module-main">
                            {% autoescape off %}{{school.plan}}{% endautoescape%}

                         </div>

                        <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">format du cours</h3>

                                </div>
					    </div>
                        <hr />

                        <div class="content-module-main">
                            {% autoescape off %}{{school.formatcours}}{% endautoescape%}

                         </div>

                        <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Ressources</h3>

                                </div>
					    </div>
                        <hr />

                        <div class="content-module-main">
                            {% autoescape off %}{{school.ressources}}{% endautoescape%}

                         </div>

                        <div class="module-heading cf">
                            <div class="info">
						<h3 class="fl">Evaluation</h3>

                                </div>
					    </div>
                        <hr />

                        <div class="content-module-main">
                            {% autoescape off %}{{school.evaluation}}{% endautoescape%}

                         </div>

					</div>
                    {%endif%}

				</div> <!-- end content-module -->
            </div>

    {% endblock %}