{% extends "profpage.html" %}

        {%block log%}{{username}}{%endblock%}

        {% block listing %}

        <div class="side-content fr">

				<div id="prog" class="content-module">

					<div class="module-heading cf">

						<h3 class="fl">Liste des cours</h3>

					</div> <!-- end content-module-heading -->


					<div class="content-module-main">

						<table>

							<thead>

								<tr>
									<th>Id</th>
                                    <th>Etablissement</th>
									<th>Titre du cours</th>
									<th>Credit ECTS</th>
									<th>Professeur</th>
                                    <th>Date d'ajout</th>
                                    <th>Actions</th>
								</tr>

							</thead>

							<tfoot>

								<tr>

									<td colspan="9" class="table-footer">

									</td>

								</tr>

							</tfoot>

							<tbody>
                                {% for ecole in school %}
								<tr>
									<td>{{ecole.id}}</td>
                                    <td>{{ecole.etablissement.nom}}</td>
                                    <td>{{ecole.titre}}</td>
                                    <td>{{ecole.creditECTS}}</td>
                                    <td>{{ecole.professeur.prenom}} {{ecole.professeur.nom}}</td>
                                    <td>{{ecole.date}}</td>
									<td>
                                        <a href="/professeur/cours/{{ecole.id}}/" class="table-actions-button ic-table-details" title="Details"></a>
                                    </td>
								</tr>
                                {% endfor %}

							</tbody>

						</table>

					</div> <!-- end content-module-main -->

				</div> <!-- end content-module -->
            </div>

    {% endblock %}

